.profile {
    display: flex;
    flex-direction: row;
    height: 40vh;
}

.profile__left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 35%;
    background-color: magenta;
}

.profile__left > img {
    height: 25vh;
    width: 15vw;
    border-radius: 50%;
}

.profile__right {
    width: 65%;
    background-color: blue;
}



@media screen and (max-width: 600px) {
    .profile {
        height: 30vw;
    }

    .profile__left {
        display: flex;
        padding-top: 2%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .profile__left > img {
        height: 10vh;
        width: 25vw;
        border-radius: 50%;
        padding-bottom: 2%;
    }

    .profile__info {
        padding-left: 2%;
        font-size: 11px;
        font-weight: 800;
    }

    .profile__redes{
        padding-left: 2%;
        font-size: 15px;
        font-weight: 800;
    }

    .profile_status {
        display: flex;
        flex-direction: column;
    }

    .profile_status > img {
        height: 4vh;
    }

    .profile__redes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .profile__redes > a > img {
        height: 6vw;
        background-color: chartreuse;
        cursor: pointer;
    }

  }