.profile {
    margin: 0.1%;
    background-color: rgba(0, 0, 0, 0.603);
    border: cyan 2px solid;
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 35%;
}

.profile__left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%; 
    height: auto;   
    padding-top: 1%;
}

.profile__left > img {
    max-height: 6vw;
    width: 6vw;
    object-fit: cover;
    border-radius: 50%;
    padding-bottom: 2%;
}

.profile_status {
    display: flex;
    flex-direction: row;
}

.profile_status  img {
    height: 10vh;
}

.profile__right {
    width: 100%;
    height: auto;
    padding-left: 2%;
}

.profile__info p {
    padding-left: 2%;
    font-size: 0.8vw;
    font-weight: 800;
}

.profile__redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.icon {
    color: white;
    margin: 0 5%;
    transform: scale(1.5);
    cursor: pointer;
}

.icon:hover {
    color: cyan;
    transition: 400ms ease;
}




@media screen and (max-width: 600px) {

    .profile {
        margin: 1%;
        background-color: rgba(0, 0, 0, 0.603);
        border: cyan 2px solid;
        display: flex;
        flex-direction: row;
        height: 18vh;
        width: auto;
    }

    .profile__left {
        display: flex;
        width: 35%;
        padding-top: 2%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .profile__left > img {
        max-height: 10vh;
        width: 20vw;
        object-fit: cover;
        border-radius: 50%;
        padding-bottom: 2%;
    }

    .profile__right {
        width: 65%;
        padding-left: 2%;
    }

    .profile__info p {
        padding-left: 2%;
        font-size: 3.4vw;
        font-weight: 800;
    }


    .profile__redes{
        padding-left: 1%;
        font-size: 15px;
        font-weight: 800;
    }

    .profile_status {
        display: flex;
        flex-direction: column;
    }

    .profile_status > img {
        height: 4vh;
    }

    .icon {
        margin: 0 3%;
        transform: scale(1.2);
    }


  }