.options {
    background-color: rgba(0, 0, 0, 0.603);
    border: cyan 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 20%;
    min-height: 50vh;
}

.options__menu {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.options__left {
    width: 100%;
    background-color: darkgreen;
    margin-top: 3%;
    font-size: 25px;
}

.options__right {
    width: 50%;
    background-color: red;
    font-size: 25px;
    margin-top: 3%;
    cursor: pointer;
}

.option--active {
    background-color: royalblue;
    visibility: hidden;
}


@media screen and (max-width: 600px) {
    .options {
        margin: 5% 15%;
        min-height: 30vh;
    }
    .options__menu {
        width: 90%;
    }

    .options__left {
        width: 60%;
        margin-top: 3%;
        font-size: 10px;
    }

    .options__right{
        width: 40%;
        font-size: 10px;
    }

    #icon__arrow {
        display: none;
        color: chocolate;
        background-color:blue !important ;
    }

    .no_display_cell {
        display: none;
        visibility: hidden;
    }

  }