.startmenu {
    background-color: rgba(0, 0, 0, 0.603);
    border: cyan 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 20%;
    min-height: 60vh;
}

.startmenu__info{
    padding: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.startmenu__info > p{
    font-size: 25px;
    flex: 1;
}

.startmenu__info > h1{
    font-size: 35px;
    text-align: center;
}


.startmenu__link {
    display: flex;
    color: white;
    text-decoration: none;
}

.startmenu__link > h3 {
    border-bottom: 2px solid transparent;
    font-size: 35px;
    color: white;
    display: flex;
    margin-top: 50%;
 }

.startmenu__link > h3:hover {
   border-bottom: 2px solid white;
   transition: all 200ms  ease-in;
}

.icon {
    margin-left: 5%;
}

@media screen and (max-width: 600px) {
    .startmenu {
        margin: 15% 2%;
    }
        
    .startmenu__info > p{
        font-size: 18px;
    }    
    
    .startmenu__link {
        font-size: 20px;
        margin: 0 10%;
    }

  }