.menu {
    background-color: rgba(0, 0, 0, 0.603);
    border: var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--margin-menu);
    min-height: var(--min-height-menu);
}

.menu_link {    
    display: flex;
    align-items: center;
    font-size: var(--font-size-menu);
    color: var(--color-font-menu);
    text-decoration: none;
}

.menu__back {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: var(--color-border-menu);
    margin-top: 5%;
}

.menu_link  p {
    border-bottom: 2px transparent solid; 
}

.menu_link  p:hover {
    border-bottom: solid 2px white;
    transition: all 200ms  ease-in;
}

.active {
    margin-left: 20px;
    font-size: var(--font-size-menu) !important;
}

.no-active {
    visibility: hidden;
}

@media screen and (max-width: 600px) {
    .menu {
        margin: var(--margin-menu-mobile);
        justify-content: center;
    }
    
    .menu_link {
        font-size: 20px;
    }
    .active {
        visibility: hidden;
    }
  }