@font-face {
  font-family: "arcade";
  src: local("arcade"), url("./font/arcade.ttf") format(truetype);
}

@font-face {
  font-family: "arcade";
  src: local("arcade"),
    url("./font/arcade.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  background-image: url(./images/bg.jpg);
  height: 95vh;
  font-family: arcade, serif;
  color: whitesmoke;
  letter-spacing: 2px;
  padding: 1%;
}

@media screen and (max-width: 600px) {
  body {
    height: 97vh;
    background-image: url(./images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2%;
  }
}
